*.class

# Package Files #
*.jar
*.war
*.ear

*~
target
.DS_Store
.faces-config.xml.faceside
.faces-config.xml.jsfdia
MANIFEST.MF
bin
.openshift
*/.gitignore
.gitkeep
README.html
CONTRIBUTING.html
RELEASE_PROCEDURE.html
.errai
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml
.classpath
.project
.settings
.metadata
bin
.nbattrs
*.log
.clover
*.swp
!/wicket-war/src/main/resources/META-INF/MANIFEST.MF
project/data
apache-deltaspike.properties
